<header id="header" class="sticky-style-2">

    <div class="container clearfix">

        <!-- Logo
        ============================================= -->
        <div id="logo">
            <a href="index.html" class="standard-logo"><img src="assets/images/logo.png" alt="Canvas Logo"></a>
            <a href="index.html" class="retina-logo"><img src="assets/images/logo@2x.png" alt="Canvas Logo"></a>
        </div><!-- #logo end -->

    </div>

    <div id="header-wrap">

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="with-arrows style-2 center">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <ul>
                    <li class=""><a href="#"><div>Home</div></a></li>
                    <li><a href="javascript:void(0)" [ngx-scroll-to]="'about'"><div>About Us</div></a></li>
                    <li>
                    </li>
                    <li><a href="javascript:void(0)" [ngx-scroll-to]="'product'"><div>Products</div></a></li>
                    <li><a href="javascript:void(0)" [ngx-scroll-to]="'services'"><div>Services</div></a></li>
                    <li><a href="javascript:void(0)" [ngx-scroll-to]="'gallery'"><div>Gallery</div></a></li>
                    <li><a href="javascript:void(0)" [ngx-scroll-to]="'testimony'"><div>Testimonials</div></a></li>
                    <li><a href="javascript:void(0)" [ngx-scroll-to]="'contact'"><div>Contact</div></a></li>
                </ul>

                <!-- Top Search
                ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div><!-- #top-search end -->

            </div>

        </nav><!-- #primary-menu end -->

    </div>

</header>