<app-header></app-header>


<section id="slider" class="slider-element swiper_wrapper full-screen clearfix" data-autoplay="9000" data-speed="800" data-loop="true" data-grab="false">

    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: #FFF url('assets/images/slider/2.jpg') no-repeat center right; background-size: auto 100%;">
                <div class="container clearfix">
                    <div class="slider-caption" style="margin-top: -30px;">
                        <div class="pt-3">
                            <h2 class="bottom-margin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>diff. Websites</h2>

                            <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-number font-primary">O1</div>
            </div>

        </div>
        
    </div>

</section>


<section id="product">
    <div class="section nobottommargin">
        <h2 class="center nobottommargin ls1">Products</h2>
      </div>


  <div class="line">

  	<div class="container clearfix">

        <div class="col_one_third nobottommargin">
          <div class="feature-box media-box">
            <div class="fbox-media">
              <img style="border-radius: 2px;" src="assets/images/services/1.jpg" alt="Why choose Us?">
            </div>
            <div class="fbox-desc">
              <h3>Skilled Professionals.<span class="subtitle">Your Property in Good Hands.</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
            </div>
          </div>
        </div>

        <div class="col_one_third nobottommargin">
          <div class="feature-box media-box">
            <div class="fbox-media">
              <img style="border-radius: 2px;" src="assets/images/services/1.jpg" alt="Effective Planning">
            </div>
            <div class="fbox-desc">
              <h3>Effective Planning.<span class="subtitle">Construction Process Organized.</span></h3>
              <p>Porro repellat vero sapiente amet vitae quibusdam necessitatibus consectetur, labore totam. Accusamus perspiciatis asperiores labore esse.</p>
            </div>
          </div>
        </div>

        <div class="col_one_third nobottommargin col_last">
          <div class="feature-box media-box">
            <div class="fbox-media">
              <img style="border-radius: 2px;" src="assets/images/services/2.jpg" alt="Why choose Us?">
            </div>
            <div class="fbox-desc">
              <h3>Risk Management.<span class="subtitle">We have got you Covered.</span></h3>
              <p>Quos, non, esse eligendi ab accusantium voluptatem. Maxime eligendi beatae, atque tempora ullam. Vitae delectus quia, consequuntur rerum quo.</p>
            </div>
          </div>
        </div>

      </div>
      </div>
</section>

<section id="about">

    <div class="line topmargin-sm"></div>

    <div class="section nobg notopmargin nopadding footer-stick">
      <div class="container clearfix">

        <div class="row">
          <div class="col-lg-7">
            <img src="assets/images/services/bottom-trust.jpg" alt="Bottom Trust">
          </div>
          <div class="col-lg-5 topmargin-sm">
            <div class="heading-block nobottomborder">
              <h2>ABOUT US</h2>
              <span class="ls1">These are the things we really do</span>
            </div>

            <ul class="iconlist iconlist-large iconlist-color">
              <li><i class="icon-ok"></i> Market Leader since 1915</li>
              <li><i class="icon-ok"></i> Positive Results within Deadlines</li>
              <li><i class="icon-ok"></i> 100% Reliability &amp; Guarantee</li>
              <li><i class="icon-ok"></i> Dedicated Professional Team of 500+</li>
              <li><i class="icon-ok"></i> Unmatched After Project Completion Support</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
</section>



<section id="gallery">
  <div class="line"></div>

  <div class="section nobottommargin">
    <h2 class="center nobottommargin ls1">Some of Our Esteemed Galleries:</h2>
  </div>

  <div id="portfolio" class="portfolio grid-container portfolio-full clearfix">

    <article class="portfolio-item pf-media pf-icons">
      <div class="portfolio-image">
        <img src="assets/images/projects/1.jpg" alt="The Atmosphere">
        <div class="portfolio-overlay">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">The Atmosphere</a></h3>
        <span>Chicago, USA</span>
      </div>
    </article>

    <article class="portfolio-item pf-illustrations">
      <div class="portfolio-image">
        <img src="assets/images/projects/2.jpg" alt="Wavelength Structure">
        <div class="portfolio-overlay">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3>Wavelength Structure</h3>
        <span>Madrid, Spain</span>
      </div>
    </article>

    <article class="portfolio-item pf-graphics pf-uielements">
      <div class="portfolio-image">
        <img src="assets/images/projects/3.jpg" alt="Greenhouse Garden">
        <div class="portfolio-overlay">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3>Greenhouse Garden</h3>
        <span>Bali, Indonesia</span>
      </div>
    </article>

    <article class="portfolio-item pf-icons pf-illustrations">
      <div class="portfolio-image">
        <img src="assets/images/projects/4.jpg" alt="Industrial Hub">
        <div class="portfolio-overlay">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3>Industrial Hub</h3>
        <span>Beijing, China</span>
      </div>
    </article>

    <article class="portfolio-item pf-uielements pf-media">
      <div class="portfolio-image">
        <img src="assets/images/projects/5.jpg" alt="Corporate Headquarters">
        <div class="portfolio-overlay">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3>Corporate Headquarters</h3>
        <span>California, USA</span>
      </div>
    </article>

    <article class="portfolio-item pf-graphics pf-illustrations">
      <div class="portfolio-image">
        <img src="assets/images/projects/6.jpg" alt="Space Station">
        <div class="portfolio-overlay" data-lightbox="gallery">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3>Space Station</h3>
        <span>Moscow, Russia</span>
      </div>
    </article>

    <article class="portfolio-item pf-uielements pf-icons">
      <div class="portfolio-image">
        <img src="assets/images/projects/7.jpg" alt="Bent Architecture">
        <div class="portfolio-overlay">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3>Bent Architecture</h3>
        <span>Melbourne, Australia</span>
      </div>
    </article>

    <article class="portfolio-item pf-graphics">
      <div class="portfolio-image">
        <img src="assets/images/projects/8.jpg" alt="Lakeview Center">
        <div class="portfolio-overlay">
          <a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3>Lakeview Center</h3>
        <span>Auckland, New Zealand</span>
      </div>
    </article>

  </div>

</section>


<section id="testimony">

    <div class="section parallax dark" style="background-image: url('assets/images/slider/1.jpg'); padding: 120px 0;"  data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

      <div class="fslider testimonial testimonial-full" data-arrows="false" style="z-index: 2;">
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="">
              <div class="testi-image">
                <a href="#"><img src="assets/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Similique fugit repellendus expedita excepturi iure provident quia eaque. Repellendus, vero numquam?</p>
                <div class="testi-meta">
                  Steve Jobs
                  <span>Apple Inc.</span>
                </div>
              </div>
            </div>
            <div class="">
              <div class="testi-image">
                <a href="#"><img src="assets/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                <div class="testi-meta">
                  Collis Ta'eed
                  <span>Envato Inc.</span>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="testi-image">
                <a href="#"><img src="assets/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                <div class="testi-meta">
                  John Doe
                  <span>XYZ Inc.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="video-wrap" style="z-index: 1;">
        <div class="video-overlay" style="background: rgba(241,128,82,0.9);"></div>
      </div>

    </div>

</section>

<section id="services">
    <div class="section nobottommargin">
        <h2 class="center nobottommargin ls1">Services</h2>
      </div>

    <div class="container clearfix">

      <div class="clear-bottommargin">
        <div class="row common-height clearfix">
          <div class="col-lg-4 col-md-6 bottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><img src="assets/images/icon/building.png" alt="Concrete Developments"></a>
              </div>
              <h3>Concrete Developments</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 bottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><img src="assets/images/icon/bank.png" alt="Finance Assistance"></a>
              </div>
              <h3>Finance Assistance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 bottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><img src="assets/images/icon/drawer.png" alt="Interiorly Designed"></a>
              </div>
              <h3>Interiorly Designed</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 bottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><img src="assets/images/icon/paper-money.png" alt="Cost Effective Solutions"></a>
              </div>
              <h3>Cost Effective Solutions</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 bottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><img src="assets/images/icon/traffic-cone.png" alt="Smart Builders"></a>
              </div>
              <h3>Smart Builders</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 bottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><img src="assets/images/icon/paint-brush.png" alt="Quality Infrastructure"></a>
              </div>
              <h3>Quality Infrastructure</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
            </div>
          </div>
        </div>
      </div>

    </div>


</section>

<section id="contact">
    <div class="content-wrap">

        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="heading-block">
                <h2>contact Us</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum tempore autem distinctio qui iure aspernatur doloribus porro blanditiis perspiciatis alias.</span>
              </div>
    
              <div class="contact">
    
                <div class="contact-form-result"></div>
    
                <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">
    
                  <div class="form-process"></div>
    
                  <div class="col_one_third">
                    <label for="template-contactform-name">Name <small>*</small></label>
                    <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control border-form-control required" />
                  </div>
    
                  <div class="col_one_third">
                    <label for="template-contactform-email">Email <small>*</small></label>
                    <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control border-form-control" />
                  </div>
    
                  <div class="col_one_third col_last">
                    <label for="template-contactform-phone">Phone</label>
                    <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control border-form-control" />
                  </div>
    
                  <div class="clear"></div>
    
                  <div class="col_two_third">
                    <label for="template-contactform-subject">Subject <small>*</small></label>
                    <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control border-form-control" />
                  </div>
    
    
                  <div class="clear"></div>
    
                  <div class="col_full">
                    <label for="template-contactform-message">Message <small>*</small></label>
                    <textarea class="required sm-form-control border-form-control" id="template-contactform-message" name="template-contactform-message" rows="5" cols="30"></textarea>
                  </div>
    
                  <div class="col_full hidden">
                    <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control border-form-control" />
                  </div>
    
                  <div class="col_full">
    
    
                    <div class="g-recaptcha" data-sitekey="6LfijgUTAAAAACPt-XfRbQszAKAJY0yZDjjhMUQT"></div>
    
                  </div>
    
                  <div class="col_full">
                    <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Message</button>
                  </div>
    
                </form>
    
              </div>
            </div>
    
          </div>
        </div>
    
      </div>
</section>




































<app-footer></app-footer>